@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

body{
    margin: auto;
}

nav{
    font-family: 'Poppins', sans-serif;
    font-weight: 1000;
    margin: 10px; 
    z-index: inherit;
}

#forecast {
    display:flex;
    align-items: center;
    z-index: 1000;
    
}

section{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    font-family: 'Poppins', sans-serif;
    background: url('img/blob.svg') no-repeat center;
    background-size: 800px;
    
}


.container{
    font-weight: 900;
    text-align: center;
    padding: 10px;
    width: auto;
    color: white;
    background-color: rgba(255, 255, 255, 0);
}

#text{
    margin: auto;
    width: 30vw;
    text-align: center;
}

#btn{
    background-color: rgb(255, 217, 0);
    font-size: 15px;
    padding: 10px; 
    margin-top: 20px;
    margin-bottom: 10px;
    border-radius: 20px;
    border: 3px solid black;
    box-shadow: 5px 5px 1px black;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
    font-weight: 1000;
}

#btn:hover {
    background-color: rgb(238, 255, 48);
}

#btn:active {
    background-color: rgb(238, 255, 48);
    transform: scale(.98);
}

#scores button{
    background: none;
	border: none;
    font-size: 30px;
	cursor: pointer;
    padding-top: 10px;
}

.blob2 {
    position: absolute;
    width: 25%;
    bottom: 5%;
    left: 7%;
    z-index: -1;
}
.blob3 {
    position: absolute; 
    width: 25%;
    top: 7%;
    right: 7%;    
}

@media (max-width: 750px) {

#text{
    margin: auto;
    width: 80vw;
    text-align: center;
 }


}